body {
	background-color: #232323;
	font-family: 'Inconsolata', monospace;
	margin: 0;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 10%;
	transition: background 0.5s;
}

#container {
	margin: 10px auto;
	max-width: 50%;
}

h1 {
	color: white;
	text-align: center;
	background-color: #4169e1;
	margin: 0px;
	padding: 20px 0;
	text-transform: uppercase;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected{
	color: white;
	background-color: #4169e1;
}

#colorDisplay{
	font-size: 1.7em;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-family: 'Inconsolata', monospace;
	color: #4169e1;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

#scoreboard{
	color: white;
	position: absolute;
	width: 50%;
	bottom: 8%;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	text-transform: uppercase;
	font-size: 30px;

}

#message{
	display: inline-block;
	width: 20%;
}

button:hover{
	color: white;
	background-color: #4169e1;
}
#easyBtn{
	width: 5%;
}
#hardBtn{
	width: 5%;
}